@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

:root {
    --mainFont: Roboto;
    --mainColor: #8e44ad;
    --font-size: 16px;
}


* {
    font-family: var(--mainFont);
}

.setting-font {
    position: fixed;
    right: -200px;
    top: 10%;
    transition: all .5s ease;

    a {
        display: block;
        background: var(--mainColor);
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 10px 0px 0px 10px;
        position: absolute;
        left: -40px;
    }

    .setting-body {
        width: 200px;
        background-color: #e1d7e5;
        border-radius: 0 5px 5px 5px;

        ul {
            li {
                width: 35px;
                height: 35px;
                line-height: 35px;
                border-radius: 50%;
                cursor: pointer;
                &.active {
                    background-color: #8e44ad94 !important;
                    color: #fff;
                }
            }
        }
    }
}


.sign-up-component {

    .title-component {
        h4 {
            font-size: calc(var(--font-size) + 10px);
        }
        p {
            font-size: 14px;
        }
    }

    .form-component {
        label {
            font-size: var(--font-size);
        }
        input::placeholder {
            font-size: 12px;
        }

        .form-control {
            background-color: #cccccc3d;
            border: 1px solid #cccccc3d;
        }

        .error-message {
            font-size: 14px;
        }

        .form-check-box {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            
            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }
        }

        .checkmark {
            position: absolute;
            top: 50%;
            left: 0;
            height: 25px;
            width: 25px;
            transform: translate(0, -50%);
            border-radius: 50%;
            background-color: #eee;
        }

        .form-check-box {
            &:hover input~.checkmark {
                background-color: #ccc;
            }

            input:checked~.checkmark {
                background-color: var(--mainColor);

            }
        }

        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        .form-check-box {
            input:checked~.checkmark:after {
                display: block;
            }

            .checkmark:after {
                left: 50%;
                top: 50%;
                width: 10px;
                height: 10px;
                line-height: 10px;
                border-radius: 50%;
                background-color: #fff;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }

        .terms-privacy {
            font-size: 14px;
            p {
                font-size: calc(var(--font-size) - 4px);
            }
        }

        .btns-box {
            .btn {
                font-size: var(--font-size);
                &:first-of-type {
                    background-color: #f5554a;
                }

                &:last-of-type {
                    background-color: #1db27b;
                }
            }
        }
    }
}